<h1>Add a prescription to </h1>

<%= form_for  [@patient, @prescription], url: "/patients/#{@patient.id}/prescriptions" do |f| %>

  <p class="error"><%= flash[:error] %></p>

  <div class="errors">
    <% if @prescription.errors.full_messages.any? %>
      <% @prescription.errors.full_messages.each do |error| %>
       <ul><li> <%=  error %></li></ul>
      <% end %>

    <% end %>
  </div>

 <div>
<%= f.label :medication_id %>
<%= f.collection_select(:medication_id, Medication.all, :id, :name) %>
</div>
  <div>
    <%= f.label :dosage %>
    <%= f.text_field :dosage %>
   </div>
  <div>
    <%= f.label :schedule %>
    <%= f.text_field :schedule %>
  </div>
  <div>
    <%= f.label :starts_on %>
    <%= f.date_select :starts_on %>
  </div>
  <div>
    <%= f.label :ends_on %>
    <%= f.date_select :ends_on  %>
  </div>

  <div>
    <%= f.submit "Create Prescription" %>
  </div>
<% end %>