<h1><%= @medication.name %></h1>



<h2>Prescriptions</h2>


<table class="table">
  <thead>
  <tr>
    <th>Patient</th>
    <th>Dosage/Schedule</th>
    <th>Dates</th>
    <th>Prescribed By</th>
  </tr>
  </thead>
  <tbody>

  <% @medication.prescriptions.each do |med| %>
    <tr>
      <td><%= med.patient.first_name %>  <%= med.patient.last_name %></td>
      <td><%= med.dosage %> <%= med.schedule %></td>
      <td><%= med.starts_on %> - <%= med.ends_on %></td>
      <td> User</td>
    </tr>
  <% end %>
  </tbody>

  </tbody>


</table>